<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind Admin Template</title>
  <link rel="stylesheet" href="public/css/tailwind.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
    integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
  <style>
    .divider {
      border-top: 1px solid rgba(255, 255, 255, .15);
    }

    .rotate-15 {
      transform: rotate(-15deg);
    }

    .notification {
      top: 1px;
      right: 1px;
      font-size: 10px;
      padding: 2px 4px;
    }
  </style>
</head>

<body>
  <div x-data="{sidebar : true}" class="flex">

    <!-- Left Sidebar -->
    <div class="h-screen border-r lg:fixed lg:w-56 bg-theme-color" :class="{ 'md:block hidden' : sidebar == false }">
      <div
        class="items-center px-4 py-4 font-bold leading-10 tracking-wider text-center text-black uppercase lg:flex h-18 text-md">
        <span class="hidden ml-2 lg:inline-block"><%= current_user.s_name %> Admin</span>
      </div>
      <hr class="mx-4 divider">
      <div class="mx-2 lg:mx-4">
        <hr class="divider">
         <div class="items-center block py-4 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white">
          <i class="block fa fa-tachometer-alt p-2"></i>
          <%= link_to "Dashboard", admin_index_path, class:"items-center block py-4 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white" %>
        </div>

        <hr class="divider">
         <div class="items-center block py-4 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white">
          <i class="fa fa-list-ul p-2"></i>
          <%= link_to "Orders", admin_order_path, class:"items-center block py-1 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white" %>
        </div>

        <hr class="divider">
         <div class="items-center block py-4 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white">
          <i class="fa fa-archive p-2"></i>
          <%= link_to "Orders Archive", admin_orderarchive_path, class:"items-center block py-1 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white" %>
        </div>

         <div class="items-center block py-4 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white">
          <i class="fa fa-folder p-2"></i>
          <%= link_to "Products", admin_products_path, class:"items-center block py-4 tracking-wide text-center text-gray-400 lg:flex lg:text-sm hover:text-white" %>
        </div>

         <div class="items-center block py-4 tracking-wide text-center text-black lg:flex lg:text-sm hover:text-white">
          <i class="fa fa-edit p-2"></i>
          <%= link_to "Edit Account", admin_edit_path, class:"items-center block py-4 tracking-wide text-center text-black lg:flex lg:text-sm hover:text-white" %>
        </div>
      </div>
    </div>

    <!-- Main content area -->
    <div class="flex-1 bg-gray-100 lg:ml-24 lg:ml-56">

      <!-- Topbar -->

      <!-- Page Heading -->
      <div class="flex-1 px-6 mb-4">
        <h1 class="mb-2 text-3xl text-gray-700"> Admin | Edit Account </h1>

        <!-- Content Row
        <div class="grid grid-cols-1 mb-2 -mx-3 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
          <!-- Earnings (Monthly) Card Example 
          <div class="p-3 md:w-full">
            <div class="p-3 bg-white border-l-4 border-blue-600 rounded-md shadow">
              <div class="flex items-center justify-between p-2">
                <div class="w-full pr-2">
                  <div class="mb-1 text-xs font-semibold leading-5 text-blue-600 uppercase">Campaign Sent</div>
                  <div class="text-xl font-bold text-gray-700">1,895</div>
                </div>
                <div>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
                    <path
                      d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                    </path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings (Monthly) Card Example 
          <div class="w-full p-3">
            <div class="p-3 bg-white border-l-4 border-indigo-600 rounded-md shadow">
              <div class="flex items-center justify-between p-2">
                <div class="w-full pr-2">
                  <div class="mb-1 text-xs font-semibold leading-5 text-indigo-600 uppercase">New Leads</div>
                  <div class="text-xl font-bold text-gray-700">34,00</div>
                </div>
                <div>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
                    <path
                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                    </path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings (Monthly) Card Example 
          <div class="w-full p-3">
            <div class="p-3 bg-white border-l-4 border-orange-600 rounded-md shadow">
              <div class="flex items-center justify-between p-2">
                <div class="w-full pr-2">
                  <div class="mb-1 text-xs font-semibold leading-5 text-orange-600 uppercase">Deals</div>
                  <div class="text-xl font-bold text-gray-700">68%</div>
                </div>
                <div>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
                    <path
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01">
                    </path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings (Monthly) Card Example
          <div class="w-full p-3">
            <div class="p-3 bg-white border-l-4 border-gray-600 rounded-md shadow">
              <div class="flex items-center justify-between p-2">
                <div class="w-full pr-2">
                  <div class="mb-1 text-xs font-semibold leading-5 text-gray-600 uppercase">Downloads</div>
                  <div class="text-xl font-bold text-gray-700">810</div>
                </div>
                <div>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
                    <path
                      d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z">
                    </path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>  -->

        <!-- Charts Row  -->
        <div class="flex flex-wrap mb-2 -mx-3">
          <div class="w-full p-3 md:w-1/2">
            <div class="bg-white rounded-md shadow">
                <div class="px-5 py-4 font-bold bg-gray-100 border-b text-theme-color text-md rounded-t-md">
                Update Infomation
              </div>
              <div class="p-5 leading-7 text-gray-800 text-md">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :Display_Name, class:"font-bold text-theme-color text-md" %>
      <%= f.text_field :s_name, autofocus: true, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.label :name, class:"font-bold text-theme-color text-md" %>
      <%= f.text_field :name, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.label :email, class:"font-bold text-theme-color text-md" %>
      <%= f.email_field :email, autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    

    <div class="mb-6">
      <%= f.label :Contact_Number, class:"font-bold text-theme-color text-md" %>
      <%= f.text_field :contactnum, autocomplete: "contactnum", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.label :address, class:"font-bold text-theme-color text-md" %>
      <%= f.text_area :address, autocomplete: "address", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>


    <div class="mb-6">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class:"font-bold text-theme-color text-md" %>
      <%= f.password_field :password, autocomplete: "new-password", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
      <p class="pt-1 text-sm italic text-grey-dark"> <% if @minimum_password_length %>
        <%= @minimum_password_length %> characters minimum <% end %> (leave blank if you don't want to change it) </p>

    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: "font-bold text-theme-color text-md" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.label :current_password, class: "font-bold text-theme-color text-md" %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
      <p class="pt-2 text-sm italic text-grey-dark">(we need your current password to confirm your changes)</p>
    </div>

    <div class="mb-6">
      <%= f.submit "Update", class: "btn btn-default" %>
    </div>
    <% end %>
              </div>
            </div>
          </div>
          <div class="w-full p-3 md:w-1/2">
            <div class="bg-white rounded-md shadow">
              <div class="px-5 py-4 font-bold bg-gray-100 border-b text-theme-color text-md rounded-t-md">
                Stripe Status
              </div>
              <div class="p-5 leading-7 text-gray-800 text-md">
                <div class="w-full text-left ">
  <div class=" text-gray-900 bg-white rounded ">
    <% unless resource.can_receive_payments? %>
      <h4 class="mb-6 text-xl font-semibold leading-none text-gray-900">Stripe has not yet been installed. Set up Stripe to receive payments ❌ </h4>
      <%= stripe_connect_button %>
    <% else %>
      <h4 class="mb-6 text-xl font-semibold leading-none text-gray-900">Successfully connected to Stripe ✅ 👍</h4>
    <% end %>
  </div>




              </div>
            </div>
          </div>
        </div>
        <!-- Recent Activity -->
      </div>
      <!-- Footer -->
      <div class="p-6 bg-white">
        <div class="flex">
          <div class="text-sm tracking-wide text-gray-600">
            Copyright &copy; Menuio 2020
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="public/js/theme.js"></script>

</html>
