    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
    
<!DOCTYPE html>
<html lang="en">


<body class="bg-white font-family-karla h-screen">
    <div class="w-full flex flex-wrap">

      <div class="w-1/2 bg-gray-100 border-white ">
        <div class="w-full h-screen hidden md:block">

        
    <section class="bg-gray-100 text-gray-700 body-font overflow-hidden" id=>
    <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
                <p class="text-center text-3xl text-indigo-700">Menuio | Business Sign up</p>

    </div>
    <div class="flex flex-wrap -m-4">
    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
    <div class="h-full p-6 rounded-lg border-2 border-gray-100 flex flex-col relative overflow-hidden"><h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2><h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-100"><span></span><span class="text-lg ml-1 font-normal text-gray-500"></span></h1><p class="flex items-center text-gray-600 mb-2"></div></div>

    <div class="p-4 xl:w-2/3 md:w-2/3 w-full ">
    <div class="h-full p-6 rounded-lg border-2 border-gray-100 flex flex-col relative overflow-hidden"><h2 class="text-sm tracking-widest title-font mb-1 font-medium text-gray-500"></h2><h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-100"><span>
    </span><span class="text-lg ml-1 font-normal text-gray-500"></span></h1><p class="flex items-center text-black text-2xl mb-2 border-8 border-gray-100">
    <span class="w-8 h-4 mr-2 inline-flex items-center justify-center bg-indigo-700 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>
    Own a Free Custom Sub-Domain </p><p class="flex items-center text-black text-2xl mb-2 border-8 border-gray-100"><span class="w-8 h-4 mr-2 inline-flex items-center justify-center bg-indigo-700 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>
    Quick and Easy Signup</p><p class="flex items-center text-black text-2xl mb-2 border-8 border-gray-100"><span class="w-8 h-4 mr-2 inline-flex items-center justify-center bg-indigo-700 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>
    Own a Digital Menu in Minutes</p><p class="flex items-center text-black text-2xl mb-2 border-8 border-gray-100">
    
    </div></div>
   
    </section>

        </div>
        </div>

        <!-- Register Section -->
        <div class="w-full md:w-1/2 flex flex-col bg-white border-l-2">
        

              <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                <a href="#" class="text-black font-bold text-xl p-4"></a>
            </div>


            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Join Us.</p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <form class="flex flex-col pt-3 md:pt-8"
                >
                    <div class="mb-6">
                        <%= f.label :'Business Name', class:"text-lg" %>
                        <%= f.text_field :s_name, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
                    </div>

                          <div class="mb-6">
                            <%= f.label :username, class:"text-lg" %>

                               <div class="flex mb-4">
                                <div class="w-1/2 h-12">
                                 <%= f.text_field :username, class:" text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
                                </div>
                                <div class="w-1/2  h-12 ">
                                <div class="pb-8">
                                <h5 class="text-black py-3 text-lg" >.menuio.co.uk</h5>
                                </div>
                                </div>
                                </div>


                          


                          </div>

    <div class="mb-6">
      <%= f.label :email, class:"text-lg" %>
      <%= f.email_field :email, autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outlineput" %>
    </div>

    <div class="mb-6">
      <div class="flex">
        <%= f.label :password, class: "text-lg" %>
        <% if @minimum_password_length %>
        <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
      </div>

      <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    

    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class:"text-lg" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <%= f.hidden_field :admin, :value => 't' %>

    <div class="mb-6">
      <%= f.submit "Sign up", class: "mx-auto lg:mx-0 hover:underline text-white bg-indigo-700 font-extrabold rounded my-2 md:my-6 py-4 px-8 shadow-lg w-full" %>
    </div>

    
                   
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>Already have an account?  <%= link_to "Sign in", new_user_session_path, class: "text-indigo-700"%> </p>
                </div>

              <% end %>

            </div>

        </div>

        <!-- Image Section -->
      
    </div>

</body>
</html>


    <% end %>

