
<div>
    <div class="bg-indigo-700 px-4 py-4">
      <div
        class="md:max-w-6xl md:mx-auto md:flex md:items-center md:justify-between"
      >
        <div class="flex justify-between items-center">
                 <%= link_to "MENUIO", root_path, class:"link text-lg tracking-wider font-semibold text-white hover:text-gray-700 uppercase hidden md:block" %>
          <div
            class="inline-block cursor-pointer md:hidden">
            <div class="bg-gray-400 w-8 mb-2" style="height: 2px;"></div>
            <div class="bg-gray-400 w-8 mb-2" style="height: 2px;"></div>
            <div class="bg-gray-400 w-8" style="height: 2px;"></div>
          </div>
        </div>
        
        <div>
          <div class="hidden md:block">
            <a
              href="#"
              class="inline-block py-1 md:py-4 text-gray-100 mr-6 font-bold"
              >How it Works</a
            >
            <a
              href="#pricing"
              class="inline-block py-1 md:py-4 text-gray-500 hover:text-gray-100"
              >Pricing</a
            >
          </div>
        </div>
        <div class="hidden md:block">



          <ul class="">
            <% if user_signed_in? %>
                <% if admin? %> 
              <li class=""><%= link_to "Dashboard", admin_index_path, class: "inline-block py-2 px-4 text-gray-700 bg-white hover:bg-gray-100 rounded-lg" %></li>
                 <% else %>
              <li class=""><%= link_to "Login", new_user_session_path, class:"inline-block py-2 px-4 text-gray-700 bg-white hover:bg-gray-100 rounded-lg" %></li>
               <% end %>
            <% else %>
              <li class=""><%= link_to "Login", new_user_session_path, class:"inline-block py-2 px-4 text-gray-700 bg-white hover:bg-gray-100 rounded-lg" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="bg-indigo-700 md:overflow-hidden">
      <div class="px-4 py-20 md:py-4">
        <div class="md:max-w-6xl md:mx-auto">
          <div class="md:flex md:flex-wrap">
            <div class="md:w-1/2 text-center md:text-left md:pt-16">
              <h1
                class="font-bold text-white text-2xl md:text-5xl leading-tight mb-4"
              >
                The Simple Digital Ordering Platform
              </h1>

              <p class="text-indigo-200 md:text-xl md:pr-48">
                Use Menuio's software to operate a digital menu, swiftly accept orders and payments and manage your digital operations online. 
              </p>
               <%= link_to "Start Now", new_user_registration_path, class:"mt-6 mb-12 md:mb-0 md:mt-10 inline-block py-3 px-8 text-indigo-700 bg-white hover:bg-indigo-200 rounded-lg shadow" %>
                      <a
          href="#additional"
          class="inline-block mx-auto lg:mx-0 hover:underline bg-transparent text-white font-extrabold my-2 md:my-6 py-2 lg:py-4 px-8"
          >View Additional Information</a
        >
       
            </div>
            <div class="md:w-1/2 relative">
              <div class="hidden md:block">
                <div
                  class="-ml-24 -mb-40 absolute left-0 bottom-0 w-40 bg-white rounded-lg shadow-lg px-6 py-8"
                  style="transform: rotate(-8deg);"
                >
                  <div
                    class="bg-indigo-800 mx-auto rounded-lg px-2 pb-2 relative mb-8"
                  >
                    <div class="mb-1">
                      <span
                        class="w-1 h-1 bg-indigo-100 rounded-full inline-block"
                        style="margin-right: 1px;"
                      ></span
                      ><span
                        class="w-1 h-1 bg-indigo-100 rounded-full inline-block"
                        style="margin-right: 1px;"
                      ></span
                      ><span
                        class="w-1 h-1 bg-indigo-100 rounded-full inline-block"
                      ></span>
                    </div>
                    <div class="h-1 w-12 bg-indigo-100 rounded mb-1"></div>
                    <div class="h-1 w-10 bg-indigo-100 rounded mb-2"></div>

                    <div class="flex">
                      <div class="w-6 h-3 rounded bg-indigo-100 mr-1"></div>
                      <div class="w-6 h-3 rounded bg-indigo-100"></div>
                    </div>

                    <div
                      class="-mr-2 -mb-4 absolute bottom-0 right-0 h-16 w-10 rounded-lg bg-green-700 border-2 border-white"
                    ></div>
                    <div
                      class="w-2 h-2 rounded-full bg-green-800 mx-auto absolute bottom-0 right-0 mr-2 -mb-2 z-10 border-2 border-white"
                    ></div>
                  </div>

                  <div class="text-gray-800 text-center">
                    Design a Digital Menu <br />In Minutes
                  </div>
                </div>

                <div
                  class="ml-24 mb-16 absolute left-0 bottom-0 w-40 bg-white rounded-lg shadow-lg px-6 py-8"
                  style="transform: rotate(-8deg); z-index: 2;"
                >
                  <div
                    class="bg-indigo-800 mx-auto rounded-lg relative mb-8 py-2 w-20 border-2 border-white"
                  >
                    <div
                      class="h-8 bg-green-700 w-8 rounded absolute left-0 top-0 -mt-3 ml-4"
                      style="transform: rotate(-45deg); z-index: -1;"
                    ></div>
                    <div
                      class="h-8 bg-green-800 w-8 rounded absolute left-0 top-0 -mt-3 ml-8"
                      style="transform: rotate(-12deg); z-index: -2;"
                    ></div>

                    <div
                      class="flex items-center justify-center h-6 bg-indigo-800 w-6 rounded-l-lg ml-auto border-4 border-white -mr-1"
                    >
                      <div
                        class="h-2 w-2 rounded-full bg-indigo-800 border-2 border-white"
                      ></div>
                    </div>

                    <div
                      class="w-8 h-8 bg-green-700 border-4 border-white rounded-full -ml-3 -mb-5"
                    ></div>
                  </div>

                  <div class="text-gray-800 text-center">
                    Online services
                  </div>
                </div>

                <div
                  class="ml-32 absolute left-0 bottom-0 w-48 bg-white rounded-lg shadow-lg px-10 py-8"
                  style="transform: rotate(-8deg); z-index: 2; margin-bottom: -220px;"
                >
                  <div
                    class="bg-indigo-800 mx-auto rounded-lg pt-4 mb-16 relative"
                  >
                    <div class="h-4 bg-white"></div>

                    <div class="text-right my-2 pb-1">
                      <div
                        class="inline-flex w-3 h-3 rounded-full bg-white -mr-2"
                      ></div>
                      <div
                        class="inline-flex w-3 h-3 rounded-full bg-indigo-800 border-2 border-white mr-2"
                      ></div>
                    </div>

                    <div
                      class="-ml-4 -mb-6 absolute left-0 bottom-0 w-16 bg-green-700 mx-auto rounded-lg pb-2 pt-3"
                    >
                      <div class="h-2 bg-white mb-2"></div>
                      <div class="h-2 bg-white w-6 ml-auto rounded mr-2"></div>
                    </div>
                  </div>

                  <div class="text-gray-800 text-center">
                    Payment by <br />Internet
                  </div>
                </div>

                <div
                  class="mt-10 w-full absolute right-0 top-0 flex rounded-lg bg-white overflow-hidden shadow-lg"
                  style="transform: rotate(-8deg); margin-right: -250px; z-index: 1;"
                >
                  <div class="w-32 bg-gray-200" style="height: 560px;"></div>
                  <div class="flex-1 p-6">
                    <h2 class="text-lg text-gray-700 font-bold mb-3">
                      Popular Items
                    </h2>
                    <div class="flex mb-5">
                      <div class="w-16 rounded-full bg-gray-100 py-2 px-4 mr-2">
                        <div class="p-1 rounded-full bg-gray-300"></div>
                      </div>
                      <div class="w-16 rounded-full bg-gray-100 py-2 px-4 mr-2">
                        <div class="p-1 rounded-full bg-gray-300"></div>
                      </div>
                      <div class="w-16 rounded-full bg-gray-100 py-2 px-4 mr-2">
                        <div class="p-1 rounded-full bg-gray-300"></div>
                      </div>
                      <div class="w-16 rounded-full bg-gray-100 py-2 px-4">
                        <div class="p-1 rounded-full bg-gray-300"></div>
                      </div>
                    </div>

                    <div class="flex flex-wrap -mx-4 mb-5">
                      <div class="w-1/3 px-4">
                        <div class="h-40 rounded-lg bg-white shadow-lg p-6">
                          <div
                            class="w-16 h-16 rounded-full bg-gray-200 mb-6"
                          ></div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-2 rounded-full"
                          ></div>
                          <div class="h-2 w-10 bg-gray-200 rounded-full"></div>
                        </div>
                      </div>
                      <div class="w-1/3 px-4">
                        <div class="h-40 rounded-lg bg-white shadow-lg p-6">
                          <div
                            class="w-16 h-16 rounded-full bg-gray-200 mb-6"
                          ></div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-2 rounded-full"
                          ></div>
                          <div class="h-2 w-10 bg-gray-200 rounded-full"></div>
                        </div>
                      </div>
                      <div class="w-1/3 px-4">
                        <div class="h-40 rounded-lg bg-white shadow-lg p-6">
                          <div
                            class="w-16 h-16 rounded-full bg-gray-200 mb-6"
                          ></div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-2 rounded-full"
                          ></div>
                          <div class="h-2 w-10 bg-gray-200 rounded-full"></div>
                        </div>
                      </div>
                    </div>

                    <h2 class="text-lg text-gray-700 font-bold mb-3">
                      Current Orders
                    </h2>

                    <div
                      class="w-full flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                    >
                      <div class="w-1/3">
                        <div class="flex">
                          <div class="h-8 w-8 rounded bg-gray-200 mr-4"></div>
                          <div>
                            <div
                              class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                            ></div>
                            <div
                              class="h-2 w-10 bg-gray-100 rounded-full"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="w-1/3">
                        <div
                          class="w-16 rounded-full bg-green-100 py-2 px-4 mx-auto"
                        >
                          <div class="p-1 rounded-full bg-green-200"></div>
                        </div>
                      </div>
                      <div class="w-1/3">
                        <div
                          class="h-2 w-10 bg-gray-100 rounded-full mx-auto"
                        ></div>
                      </div>
                    </div>

                    <div
                      class="flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                    >
                      <div class="w-1/3">
                        <div class="flex">
                          <div class="h-8 w-8 rounded bg-gray-200 mr-4"></div>
                          <div>
                            <div
                              class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                            ></div>
                            <div
                              class="h-2 w-10 bg-gray-100 rounded-full"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="w-1/3">
                        <div
                          class="w-16 rounded-full bg-orange-100 py-2 px-4 mx-auto"
                        >
                          <div class="p-1 rounded-full bg-orange-200"></div>
                        </div>
                      </div>
                      <div class="w-1/3">
                        <div
                          class="h-2 w-16 bg-gray-100 rounded-full mx-auto"
                        ></div>
                      </div>
                    </div>

                    <div
                      class="flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                    >
                      <div class="w-1/3">
                        <div class="flex">
                          <div class="h-8 w-8 rounded bg-gray-200 mr-4"></div>
                          <div>
                            <div
                              class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                            ></div>
                            <div
                              class="h-2 w-10 bg-gray-100 rounded-full"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="w-1/3">
                        <div
                          class="w-16 rounded-full bg-blue-100 py-2 px-4 mx-auto"
                        >
                          <div class="p-1 rounded-full bg-blue-200"></div>
                        </div>
                      </div>
                      <div class="w-1/3">
                        <div
                          class="h-2 w-8 bg-gray-100 rounded-full mx-auto"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="w-full absolute left-0 bottom-0 ml-1"
                  style="transform: rotate(-8deg); z-index: 1; margin-bottom: -360px;"
                >
                  <div class="grid--gray h-48 w-48"></div>
                </div>
              </div>

              <div
                class="md:hidden w-full absolute right-0 top-0 flex rounded-lg bg-white overflow-hidden shadow"
              >
                <div
                  class="h-4 bg-gray-200 absolute top-0 left-0 right-0 rounded-t-lg flex items-center"
                >
                  <span
                    class="h-2 w-2 rounded-full bg-red-500 inline-block mr-1 ml-2"
                  ></span>
                  <span
                    class="h-2 w-2 rounded-full bg-orange-400 inline-block mr-1"
                  ></span>
                  <span
                    class="h-2 w-2 rounded-full bg-green-500 inline-block mr-1"
                  ></span>
                </div>
                <div class="w-32 bg-gray-100 px-2 py-8" style="height: 340px;">
                  <div class="h-2 w-16 bg-gray-300 rounded-full mb-4"></div>
                  <div class="flex items-center mb-4">
                    <div
                      class="h-5 w-5 rounded-full bg-gray-300 mr-3 flex-shrink-0"
                    ></div>
                    <div>
                      <div class="h-2 w-10 bg-gray-300 rounded-full"></div>
                    </div>
                  </div>

                  <div class="h-2 w-16 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-10 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-20 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-6 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-16 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-10 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-20 bg-gray-200 rounded-full mb-2"></div>
                  <div class="h-2 w-6 bg-gray-200 rounded-full mb-2"></div>
                </div>
                <div class="flex-1 px-4 py-8">
                  <h2 class="text-xs text-gray-700 font-bold mb-1">
                    Popular Payments
                  </h2>
                  <div class="flex mb-5">
                    <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                    <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                    <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                    <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                  </div>

                  <div class="flex flex-wrap -mx-2 mb-5">
                    <div class="w-1/3 px-2">
                      <div class="p-3 rounded-lg bg-white shadow">
                        <div
                          class="w-6 h-6 rounded-full bg-gray-200 mb-2"
                        ></div>
                        <div
                          class="h-2 w-10 bg-gray-200 mb-1 rounded-full"
                        ></div>
                        <div class="h-2 w-6 bg-gray-200 rounded-full"></div>
                      </div>
                    </div>
                    <div class="w-1/3 px-2">
                      <div class="p-3 rounded-lg bg-white shadow">
                        <div
                          class="w-6 h-6 rounded-full bg-gray-200 mb-2"
                        ></div>
                        <div
                          class="h-2 w-10 bg-gray-200 mb-1 rounded-full"
                        ></div>
                        <div class="h-2 w-6 bg-gray-200 rounded-full"></div>
                      </div>
                    </div>
                    <div class="w-1/3 px-2">
                      <div class="p-3 rounded-lg bg-white shadow">
                        <div
                          class="w-6 h-6 rounded-full bg-gray-200 mb-2"
                        ></div>
                        <div
                          class="h-2 w-10 bg-gray-200 mb-1 rounded-full"
                        ></div>
                        <div class="h-2 w-6 bg-gray-200 rounded-full"></div>
                      </div>
                    </div>
                  </div>

                  <h2 class="text-xs text-gray-700 font-bold mb-1">
                    Popular Payments
                  </h2>

                  <div
                    class="w-full flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                  >
                    <div class="w-1/3">
                      <div class="flex">
                        <div
                          class="h-5 w-5 rounded-full bg-gray-200 mr-3 flex-shrink-0"
                        ></div>
                        <div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                          ></div>
                          <div class="h-2 w-10 bg-gray-100 rounded-full"></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="w-16 rounded-full bg-green-100 py-2 px-4 mx-auto"
                      >
                        <div class="p-1 rounded-full bg-green-200"></div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="h-2 w-10 bg-gray-100 rounded-full mx-auto"
                      ></div>
                    </div>
                  </div>

                  <div class="flex flex-wrap justify-between items-center py-3">
                    <div class="w-1/3">
                      <div class="flex">
                        <div
                          class="h-5 w-5 rounded-full bg-gray-200 mr-3 flex-shrink-0"
                        ></div>
                        <div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                          ></div>
                          <div class="h-2 w-10 bg-gray-100 rounded-full"></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="w-16 rounded-full bg-orange-100 py-2 px-4 mx-auto"
                      >
                        <div class="p-1 rounded-full bg-orange-200"></div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="h-2 w-16 bg-gray-100 rounded-full mx-auto"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="mr-3 md:hidden absolute right-0 bottom-0 w-40 bg-white rounded-lg shadow-lg px-10 py-6"
                style="z-index: 2; margin-bottom: -380px;"
              >
                <div
                  class="bg-indigo-800 mx-auto rounded-lg w-20 pt-3 mb-12 relative"
                >
                  <div class="h-3 bg-white"></div>

                  <div class="text-right my-2">
                    <div
                      class="inline-flex w-3 h-3 rounded-full bg-white -mr-2"
                    ></div>
                    <div
                      class="inline-flex w-3 h-3 rounded-full bg-indigo-800 border-2 border-white mr-2"
                    ></div>
                  </div>

                  <div
                    class="-ml-4 -mb-6 absolute left-0 bottom-0 w-16 bg-green-700 mx-auto rounded-lg pb-2 pt-3"
                  >
                    <div class="h-2 bg-white mb-2"></div>
                    <div class="h-2 bg-white w-6 ml-auto rounded mr-2"></div>
                  </div>
                </div>

                <div class="text-gray-800 text-center text-sm">
                  Payment for <br />Internet
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg
        class="fill-current text-white hidden md:block"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <path fill-opacity="1" d="M0,224L1440,32L1440,320L0,320Z"></path>
      </svg>
    </div>

    <p class="text-center p-4 text-gray-600 pt-10 bg-white">
</p>
</div>




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Menuio | Landing Page</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Font Awesome if you need it
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
  -->
    <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!--Replace with your tailwind.css once created-->
    <link
      href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css"
      rel="stylesheet"
    />
    <!--Tailwind Custom Forms - use to standardise form fields - https://github.com/tailwindcss/custom-forms-->

    <style>
      @import url("https://rsms.me/inter/inter.css");
      html {
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }

      .gradient {
        background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
      }

      /* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

      .browser-mockup {
        border-top: 2em solid rgba(230, 230, 230, 0.7);
        position: relative;
        height: 60vh;
      }

      .browser-mockup:before {
        display: block;
        position: absolute;
        content: "";
        top: -1.25em;
        left: 1em;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: #f44;
        box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
      }

      .browser-mockup > * {
        display: block;
      }

      /* Custom code for the demo */
    </style>
  </head>

    

     <section class="bg-white flex flex-col text-center py-16 px-4 lg:px-16 md:px-8 xl:px-24 xxl:px-40">
             <a id="additional"></a>
    <div>
                 <h2
          class="w-full my-2 leading-tight text-center sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
        >How Menuio Works</h2>
    </div>
            <div class="w-full">

          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>
    <div class="mt-12 sm:flex items-start justify-between sm:-mx-2">
    
      <div class="w-full bg-white rounded-lg py-8 px-4 sm:w-1/3 sm:mx-2 lg:mx-6 ">
              <h4 class="text-md uppercase text-6xl text-gray-500 font-bold">1</h4>
              <span class="rounded bg-indigo-600 py-1 px-3 text-2xl text-white font-bold">   Scan   </span> 
<div class="container mx-auto max-w-xs rounded-lg overflow-hidden my-2 bg-white">
      <div class="relative mb-6">
         <img class="w-full" src="https://64.media.tumblr.com/08503eebb4fb2ab3fdb2dfb5badebb3b/d2b096d0eaf7aef4-4b/s2048x3072/0c4f1fa7a508dd260fbabb0454c7af0abad8bb19.png"
            alt="Profile picture" />
      </div>
   </div>
      </div>
        
     <div class="w-full bg-white rounded-lg py-8 px-4 sm:w-1/3 sm:mx-2 lg:mx-6 ">
                   <h4 class="text-md uppercase text-6xl text-gray-500 font-bold">2</h4>
              <span class="rounded bg-indigo-600 py-1 px-3 text-2xl text-white font-bold">Browse</span> 
<div class="container mx-auto max-w-xs rounded-lg overflow-hidden my-2 bg-white">
      <div class="relative mb-6">
         <img class="w-full" src="https://64.media.tumblr.com/99fc648898be2d60e42798308c44a9d8/273e37ebd4d7bd7e-44/s2048x3072/e72f2db0aced57064f7bd3d7b37b4387c136fb3c.png"
            alt="Profile picture" />
      </div>
   </div>
      </div>

      <div class="w-full bg-white rounded-lg py-8 px-4 sm:w-1/3 sm:mx-2 lg:mx-6 ">
                    <h4 class="text-md uppercase text-6xl text-gray-500 font-bold">3</h4>
              <span class="rounded bg-indigo-600 py-1 px-3 text-2xl text-white font-bold"> Order </span> 
<div class="container mx-auto max-w-xs rounded-lg overflow-hidden my-2 bg-white">
      <div class="relative mb-6">
         <img class="w-full" src="https://64.media.tumblr.com/3cfd5daa845e968867d97ffa05882cc8/a5582e8f65cc5412-9c/s2048x3072/dfc7c46f1637b11eef682d7ec8aa9709b344a2d0.png"
            alt="Profile picture" />
      </div>
   </div>

      </div>
    </div>


  </section>

    <section class="bg-white flex flex-col text-center py-16 px-4 lg:px-16 md:px-8 xl:px-24 xxl:px-40">
    <div>
            <h2
          class="w-full my-2 leading-tight text-center sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
        >
          What Menuio can do.
        </h2>
    </div>
            <div class="w-full mb-4">
          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>
    <div class="mt-12 sm:flex items-start justify-between sm:-mx-2">
      <div class="w-full bg-white rounded-lg shadow-lg py-8 px-4 sm:w-1/3 sm:mx-2 lg:mx-6 border-t-4 border-blue-600">
        <div class="h-24">
          <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 class= 'mx-auto' height="90" viewBox="0 0 512 512" width="90" style="enable-background:new 0 0 480 480;" xml:space="preserve">
<path style="fill:#EBE5DD;" d="M192,440h96l16-16h152V168H24v256h152L192,440z M48,272v-80h384v47.528l-64.24,64.232L272,248l-96,88
	l-56-40l-72,56V272z M112,400H48h32H112h32h32h32h32h32h32h32h32h32h32H112z"/>
<path style="fill:#FFDA44;" d="M304,424l-16,16h-96l-16-16H8v16c0,17.673,14.327,32,32,32h400c17.673,0,32-14.327,32-32v-16H304z"/>
<path style="fill:#2488FF;" d="M176,336l96-88l95.76,55.76L432,239.528V192H48v80v80l72-56L176,336z"/>
<g>
	<path style="fill:#231F20;" d="M472,416h-8V168c0-4.418-3.582-8-8-8H24c-4.418,0-8,3.582-8,8v248H8c-4.418,0-8,3.582-8,8v16
		c0.026,22.08,17.92,39.974,40,40h400c22.08-0.026,39.974-17.92,40-40v-16C480,419.582,476.418,416,472,416z M32,176h416v240H304
		c-2.123,0.011-4.158,0.856-5.664,2.352L284.688,432h-89.376l-13.648-13.648c-1.507-1.496-3.541-2.341-5.664-2.352H32L32,176z
		 M464,440c0,13.255-10.745,24-24,24H40c-13.255,0-24-10.745-24-24v-8h156.688l13.656,13.656c1.5,1.5,3.534,2.344,5.656,2.344h96
		c2.122,0,4.156-0.844,5.656-2.344L307.312,432H464V440z"/>
	<path style="fill:#231F20;" d="M176.624,346.28l96.44-88.408l96,55.912L440,242.832V184H40v184.36l80.2-62.4L176.624,346.28z
		 M56,335.64V200h368v36.208l-57.528,57.544l-95.536-55.624l-95.56,87.592L119.8,286.024L56,335.64z"/>
	<path style="fill:#231F20;" d="M112,152c4.418,0,8-3.582,8-8v-17.224l27.8-4.64c3.194-0.537,5.749-2.947,6.472-6.104
		c2.15-9.41,5.863-18.394,10.984-26.576c1.727-2.751,1.619-6.272-0.272-8.912l-16.376-22.888l13.048-13.048l22.888,16.376
		c2.64,1.891,6.161,1.999,8.912,0.272c8.173-5.118,17.145-8.831,26.544-10.984c3.157-0.723,5.567-3.278,6.104-6.472l4.672-27.8
		h18.448l4.64,27.8c0.537,3.194,2.947,5.749,6.104,6.472c9.41,2.15,18.394,5.863,26.576,10.984c2.751,1.727,6.272,1.619,8.912-0.272
		l22.888-16.376l13.048,13.048l-16.376,22.888c-1.891,2.64-1.999,6.161-0.272,8.912c5.118,8.173,8.831,17.145,10.984,26.544
		c0.723,3.157,3.278,5.567,6.472,6.104l27.8,4.64V144c0,4.418,3.582,8,8,8s8-3.582,8-8v-24c-0.001-3.908-2.826-7.243-6.68-7.888
		L340,107.2c-2.141-7.515-5.131-14.762-8.912-21.6l17.288-24.168c2.275-3.184,1.913-7.547-0.856-10.312l-22.64-22.648
		c-2.767-2.767-7.13-3.125-10.312-0.848L290.4,44.936c-6.837-3.789-14.084-6.787-21.6-8.936l-4.904-29.344
		C263.24,2.808,259.903-0.005,256,0h-32c-3.908,0.001-7.243,2.826-7.888,6.68L211.2,36c-7.515,2.141-14.762,5.131-21.6,8.912
		l-24.144-17.264c-3.182-2.277-7.545-1.919-10.312,0.848l-22.648,22.648c-2.767,2.767-3.125,7.13-0.848,10.312L148.936,85.6
		c-3.789,6.837-6.787,14.084-8.936,21.6l-29.344,4.904c-3.848,0.656-6.661,3.993-6.656,7.896v24C104,148.418,107.582,152,112,152
		L112,152z"/>
	<path style="fill:#231F20;" d="M288,136c0,4.418,3.582,8,8,8s8-3.582,8-8c0-35.346-28.654-64-64-64s-64,28.654-64,64
		c0,4.418,3.582,8,8,8s8-3.582,8-8c0-26.51,21.49-48,48-48S288,109.49,288,136z"/>
	<path style="fill:#231F20;" d="M208,136c0,4.418,3.582,8,8,8s8-3.582,8-8c0-8.837,7.163-16,16-16c8.837,0,16,7.163,16,16
		c0,4.418,3.582,8,8,8s8-3.582,8-8c0-17.673-14.327-32-32-32S208,118.327,208,136z"/>
	<path style="fill:#231F20;" d="M440,400v-8V272h-16v120h-16v-88h-16v88h-16v-64h-16v64h-16v-80h-16v80h-16v-96h-16v96h-16V280h-16
		v112h-16v-80h-16v80h-16v-48h-16v48h-16v-32h-16v32h-16v-48h-16v48h-16v-56h-16v56H88v-32H72v32H56v-8H40v8v8v8h400V400z"/>
</g>
</svg>

        </div>
        <h4 class="text-md uppercase text-gray-800 font-bold mt-10">Increase overall efficiency</h4>
        <p class="text-base text-gray-600 mt-2"> Decrease overall labour costs, swiftly capturing orders via mobile phone, view performance and see individual item analytics.

        </p>
      </div>

      <div class="w-full bg-white rounded-lg shadow-lg py-8 px-4 mt-6 sm:mt-0 sm:w-1/3 sm:mx-2 lg:mx-6 border-t-4 border-red-600">
        <div class="h-24">
          <svg id="Filled_stroke_cutting_Ex" class= 'mx-auto' height="90" viewBox="0 0 512 512" width="90" xmlns="http://www.w3.org/2000/svg" data-name="Filled stroke cutting Ex"><g><g><g><path d="m288 488 16-24h42a30 30 0 0 0 30-30v-26h-90v-192h-42.3772a30 30 0 0 0 -28.4605 20.5132l-25.1623 75.4868v88l-40 72v16z" fill="#ffd4cf"/><path d="m288 496h-168a8 8 0 0 1 -8-8v-16a8.0029 8.0029 0 0 1 1.0068-3.8853l38.9932-70.1879v-45.9268h16v48a8.0029 8.0029 0 0 1 -1.0068 3.8853l-38.9932 70.1879v5.9268h155.7188l13.625-20.4375a7.9992 7.9992 0 0 1 6.6562-3.5625h42a21.7816 21.7816 0 0 0 16.1348-7.0439l11.73 10.88a38.1192 38.1192 0 0 1 -27.8648 12.1639h-37.7188l-13.625 20.4375a7.9992 7.9992 0 0 1 -6.6562 3.5625z"/><rect fill="#fa5d3f" height="408" rx="20" width="224" x="232" y="24"/><path d="m264 112h160v176h-160z" fill="#fac850"/><path d="m288 216h40v40h-40z" fill="#fffdfa"/><path d="m240 192h-16v-148a28.0314 28.0314 0 0 1 28-28h184a28.0314 28.0314 0 0 1 28 28v20h-16v-20a12.0134 12.0134 0 0 0 -12-12h-184a12.0134 12.0134 0 0 0 -12 12z"/><path d="m224 288h32a40 40 0 0 0 40-40v-32h-72z" fill="#ffd4cf"/><path d="m448 80v332a12.0134 12.0134 0 0 1 -12 12h-184a12.0134 12.0134 0 0 1 -12-12v-116h16a48.054 48.054 0 0 0 48-48v-32a8 8 0 0 0 -8-8h-82.377a37.9538 37.9538 0 0 0 -36.0507 25.9834l-25.1623 75.4866a8.0117 8.0117 0 0 0 -.41 2.53v24h16v-22.7017l24.752-74.2548a21.9717 21.9717 0 0 1 20.871-15.0435h74.377v24a32.0364 32.0364 0 0 1 -32 32h-32v132a28.0314 28.0314 0 0 0 28 28h184a28.0314 28.0314 0 0 0 28-28v-332z"/><path d="m432 136h-16v-16h-16v-16h24a8 8 0 0 1 8 8z"/><path d="m424 296h-24v-16h16v-16h16v24a8 8 0 0 1 -8 8z"/><path d="m272 136h-16v-24a8 8 0 0 1 8-8h24v16h-16z"/></g><path d="m360 144h40v40h-40z" fill="#fffdfa"/><path d="m400 192h-40a8 8 0 0 1 -8-8v-40a8 8 0 0 1 8-8h40a8 8 0 0 1 8 8v40a8 8 0 0 1 -8 8zm-32-16h24v-24h-24z"/><path d="m288 144h40v40h-40z" fill="#fffdfa"/><path d="m328 192h-40a8 8 0 0 1 -8-8v-40a8 8 0 0 1 8-8h40a8 8 0 0 1 8 8v40a8 8 0 0 1 -8 8zm-32-16h24v-24h-24z"/><path d="m360 216h40v40h-40z" fill="#fffdfa"/><path d="m400 264h-40a8 8 0 0 1 -8-8v-40a8 8 0 0 1 8-8h40a8 8 0 0 1 8 8v40a8 8 0 0 1 -8 8zm-32-16h24v-24h-24z"/><path d="m328 264h-8v-56h8a8 8 0 0 1 8 8v40a8 8 0 0 1 -8 8z"/><path d="m304 48h80v16h-80z"/><path d="m272 48h16v16h-16z"/><path d="m400 48h16v16h-16z"/><g><circle cx="344" cy="352" fill="#fac850" r="48"/><path d="m344 408a56 56 0 1 1 56-56 56.0632 56.0632 0 0 1 -56 56zm0-96a40 40 0 1 0 40 40 40.0455 40.0455 0 0 0 -40-40z"/><path d="m336 376a7.9757 7.9757 0 0 1 -5.6572-2.3433l-16-16 11.3144-11.3134 10.3428 10.3432 26.3428-26.3432 11.3144 11.3134-32 32a7.9757 7.9757 0 0 1 -5.6572 2.3433z"/></g></g><path d="m110.5244 211.1548a122.9758 122.9758 0 0 1 -48.5313-77.1067l-5.9931-38.0507 71.9007-32.0608 71.9 32.0608-6.055 38.3647a122.9389 122.9389 0 0 1 -49.1643 77.5584l-16.6167 12.0795z" fill="#79d8eb"/><path d="m127.9648 232a7.9868 7.9868 0 0 1 -4.7441-1.5586l-17.44-12.8452a133.4364 133.4364 0 0 1 -39.3383-45.9282l14.2187-7.336a117.3569 117.3569 0 0 0 34.6075 40.3814l12.7275 9.3735 11.8809-8.6369a114.9723 114.9723 0 0 0 45.98-72.4287l5.085-32.2139-63.042-28.1116-63.044 28.1118 5.0245 31.9009a113.6289 113.6289 0 0 0 4.3795 16.6763l-15.1211 5.23a129.6819 129.6819 0 0 1 -5.0166-19.1362c-.0108-.062-.0215-.124-.0313-.1865l-5.9931-38.05a8 8 0 0 1 4.6445-8.5513l71.9-32.061a7.9977 7.9977 0 0 1 6.5156 0l71.9 32.061a8 8 0 0 1 4.6445 8.5537l-6.055 38.3655c-.01.0615-.02.1235-.0313.1855a130.9042 130.9042 0 0 1 -52.331 82.5957l-16.6163 12.08a7.99 7.99 0 0 1 -4.7041 1.5288z"/><path d="m119.81 167.9976a7.9763 7.9763 0 0 1 -5.6573-2.3433l-24-24 11.3145-11.3135 18.3428 18.3433 42.3427-42.3433 11.3145 11.3135-48 48a7.9763 7.9763 0 0 1 -5.6572 2.3433z"/></g></svg>
        </div>
        <h4 class="text-md uppercase text-gray-800 font-bold mt-10">Increase Safety During Covid-19</h4>
        <p class="text-base text-gray-600 mt-2"> Operating during <b> Covid 19 </b> isn't easy. That's why we've created a cost-effective solution to help you conserve cash.  </p>
      </div>

           <div class="w-full bg-white rounded-lg shadow-lg py-8 px-4 mt-6 sm:mt-0 sm:w-1/3 sm:mx-2 lg:mx-6 border-t-4 border-orange-600">
        <div class="h-24">
          <svg class= 'mx-auto' height="90" viewBox="0 0 512 512" width="90" xmlns="http://www.w3.org/2000/svg"><path d="m408 440c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ff9811"/><path d="m408 376c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffa733"/><path d="m408 344c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffb655"/><path d="m408 408c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffb655"/><path d="m408 248c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffc477"/><path d="m408 312c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffc477"/><path d="m408 280c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffb655"/><path d="m408 216c-35.34375 0-64-10.742188-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.257812-28.65625 24-64 24zm0 0" fill="#ffb655"/><path d="m72 472c35.359375 0 64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24s-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24zm0 0" fill="#ff6243"/><path d="m240 408c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffa733"/><path d="m240 376c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ff9811"/><path d="m240 312c-35.34375 0-64-10.742188-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.257812-28.65625 24-64 24zm0 0" fill="#ffb655"/><path d="m240 344c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ffa733"/><path d="m72 440c35.359375 0 64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24s-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24zm0 0" fill="#ff9478"/><path d="m72 408c35.359375 0 64-10.71875 64-24v-32c0 13.257812-28.65625 24-64 24s-64-10.742188-64-24v32c0 13.28125 28.640625 24 64 24zm0 0" fill="#ff7956"/><path d="m240 440c-35.359375 0-64-10.71875-64-24v32c0 13.28125 28.640625 24 64 24s64-10.71875 64-24v-32c0 13.28125-28.640625 24-64 24zm0 0" fill="#ff9811"/><path d="m136 352c0-13.253906-28.652344-24-64-24s-64 10.746094-64 24 28.652344 24 64 24 64-10.746094 64-24zm0 0" fill="#ff9478"/><path d="m304 288c0-13.253906-28.652344-24-64-24s-64 10.746094-64 24 28.652344 24 64 24 64-10.746094 64-24zm0 0" fill="#ffa733"/><path d="m472 192c0-13.253906-28.652344-24-64-24s-64 10.746094-64 24 28.652344 24 64 24 64-10.746094 64-24zm0 0" fill="#ffa733"/><path d="m72 320c-35.785156 0-72 10.992188-72 32v96c0 21.007812 36.214844 32 72 32s72-10.992188 72-32v-96c0-21.007812-36.214844-32-72-32zm0 16c36.375 0 56 11.359375 56 16s-19.625 16-56 16-56-11.359375-56-16 19.625-16 56-16zm0 128c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0 0"/><path d="m240 256c-35.785156 0-72 10.992188-72 32v160c0 21.007812 36.214844 32 72 32s72-10.992188 72-32v-160c0-21.007812-36.214844-32-72-32zm0 16c36.375 0 56 11.359375 56 16s-19.625 16-56 16-56-11.359375-56-16 19.625-16 56-16zm0 192c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0 0"/><path d="m408 160c-35.785156 0-72 10.992188-72 32v256c0 21.007812 36.214844 32 72 32s72-10.992188 72-32v-256c0-21.007812-36.214844-32-72-32zm0 16c36.375 0 56 11.359375 56 16s-19.625 16-56 16-56-11.359375-56-16 19.625-16 56-16zm0 288c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0-32c-36.375 0-56-11.359375-56-16v-11.199219c17.574219 7.941407 36.726562 11.769531 56 11.199219 19.273438.570312 38.425781-3.257812 56-11.199219v11.199219c0 4.640625-19.625 16-56 16zm0 0"/><path d="m392 0v16h60.6875l-152 152h-167.695312l-130.265626 113.976562 10.546876 12.046876 125.734374-110.023438h168.304688l156.6875-156.6875v60.6875h16v-88zm0 0"/></svg>
        </div>
        <h4 class="text-md uppercase text-gray-800 font-bold mt-10">Increase Average Order Value</h4>
        <p class="text-base text-gray-600 mt-2"> Upsell and suggest additional items on the order page. Research has shown, upselling on digital menu's has increased sales in some categories 20%.</p>
      </div>
    </div>
    </div>

  </section>
<!--
    <section class="bg-white  py-8">
      <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <h2
          class="w-full my-2 leading-tight text-center sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
        >
          Featured in
        </h2>
        <div class="w-full mb-4">
          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>

            <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
          <div
            class="flex-1 rounded-t rounded-b-none overflow-hidden  "
          >
            <div class="flex flex-wrap no-underline hover:no-underline justify-center opacity-75">
                <div class = "item center">
    
                <?xml version="1.0"?>
                         <svg  xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 250 250" ><g fill-rule="evenodd" clip-rule="evenodd"><path fill="#fff" d="M0 0h192.756v192.756H0V0z"/><path d="M189.922 124.184V68.572h-57.99v55.612h57.99zm-13.215-39.641c-4.467-2.567-8.936-3.898-13.119-3.898-4.467 0-8.176 1.426-11.027 4.278-2.947 2.757-4.467 6.179-4.467 10.457 0 4.087 1.52 7.604 4.373 10.458 3.041 2.66 6.654 3.992 11.027 3.992 4.658 0 9.221-1.426 13.689-4.279v5.99c-4.184 2.281-8.842 3.422-13.975 3.422-4.373 0-7.986-.855-11.029-2.566a21.342 21.342 0 0 1-7.129-7.131c-1.711-3.23-2.662-6.463-2.662-9.886 0-5.704 1.996-10.362 6.084-14.165 3.994-3.803 8.938-5.799 14.736-5.799 4.182 0 8.65 1.046 13.498 3.232v5.895h.001zM125.469 68.572h-57.99v55.612h57.99V68.572zm-40.213 8.27h10.077c3.232 0 5.705.38 7.509 1.236 1.807.951 3.137 2.091 3.994 3.518.949 1.521 1.426 3.232 1.426 5.228 0 3.802-1.902 6.464-5.895 8.081 2.852.475 5.133 1.616 6.75 3.517 1.615 1.711 2.377 3.898 2.471 6.369-.094 1.902-.57 3.707-1.52 5.229-1.047 1.521-2.473 2.758-4.469 3.803-1.996.951-4.373 1.426-7.32 1.426H85.256V76.842z"/><path d="M94.382 93.289c2.946 0 5.038-.57 6.274-1.616 1.236-1.236 1.9-2.662 1.9-4.468 0-3.612-2.375-5.514-7.034-5.514H90.77v11.598h3.612zM95.903 98.232H90.77v12.072h5.514c2.566 0 4.658-.189 5.988-.57 1.236-.666 2.092-1.426 2.662-2.281.57-.951.951-1.996.951-3.137-.096-1.141-.381-2.188-1.047-3.137-.57-1.047-1.52-1.807-2.852-2.283-1.234-.474-3.326-.759-6.083-.664zM60.824 68.572H2.834v55.612h57.99V68.572zm-40.307 46.676V76.842h10.077c3.232 0 5.609.38 7.415 1.236 1.806.855 3.232 2.091 4.088 3.612.95 1.426 1.426 3.137 1.521 5.133-.095 3.802-1.996 6.464-5.989 8.175 2.947.476 5.133 1.616 6.75 3.422 1.616 1.711 2.472 3.898 2.472 6.369 0 1.996-.475 3.803-1.521 5.229-1.046 1.615-2.472 2.852-4.373 3.803-1.996.951-4.468 1.426-7.415 1.426H20.517v.001z"/><path d="M30.784 81.691h-4.753v11.598h3.707c2.852 0 4.943-.57 6.18-1.616 1.235-1.141 1.901-2.662 1.901-4.373-.001-3.708-2.377-5.609-7.035-5.609zM31.164 98.232h-5.133v12.072h5.418c2.852 0 4.943-.189 6.179-.57 1.046-.475 1.901-1.141 2.566-2.092.571-1.045.856-2.092.951-3.326-.095-1.332-.476-2.377-1.046-3.137a5.08 5.08 0 0 0-2.852-2.188c-1.33-.569-3.421-.759-6.083-.759z"/></g></svg>

                </div>

              <div class="w-full font-bold text-xl text-gray-800 px-6 py-2 text-center">
    
              </div>
              <p class="text-gray-600 text-base px-6 mb-5 text-center">
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->


     <section class="bg-white text-gray-700 body-font overflow-hidden" id="pricing">
    <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-blue-900">Pricing</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-blue-900">Capture Orders Faster with Menuio's System.</p>
    </div>
    <div class="flex flex-wrap -m-4">
    <div class=" p-4 xl:w-1/12 md:w-1/2 w-full">
    <div class=" hidden md:block p-6 rounded-lg border-2 border-white flex flex-col relative overflow-hidden"><h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2><h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-white"><span></span><span class="text-lg ml-1 font-normal text-gray-500"></span></h1><p class="flex items-center text-gray-600 mb-2"></div></div>
    <div class=" p-4 xl:w-5/12 md:w-1/2 w-full">
    <div class=" p-6 rounded-lg border-2 border-indigo-600 flex flex-col relative overflow-hidden"><span class="bg-indigo-600 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl ">Premium</span><h2 class="text-sm tracking-widest title-font mb-1 font-medium py-8 text-gray-900">Digital Table Service System</h2><h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"><span> 2.9% <small class="text-xl"> + 20p </small><h2 class="text-sm tracking-widest title-font mb-1 font-light py-8 text-gray-700">Per successful card charge</h2> </span></h1><p class="flex items-center text-gray-600 mb-2"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>Everything you need to manage a digital table service operation.</p><p class="flex items-center text-gray-600 mb-2"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>24/7 Live Chat Support via WhatsApp </p><p class="flex items-center text-gray-600 mb-2"></p><p class="flex items-center text-gray-600 mb-6"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>Upselling capabilities </p><p class="flex items-center text-gray-600 mb-6"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>Apple pay & Andriod Pay Intergration</p> <p class="flex items-center text-gray-600 mb-6"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>Free marketing material (e.g stickers & posters)</p>
        <%= link_to "Get Started in Minutes", new_user_registration_path, class:"mx-auto lg:mx-0 text-center hover:underline text-white bg-indigo-700 font-extrabold rounded my-2 md:my-6 py-4 px-8 shadow-lg w-full" %><p class="text-xs text-gray-500 mt-3">No Contracts, No Hidden Fees</p>
   </div></div>
    <div class="p-4 xl:w-5/12 md:w-1/2 w-full">
    <div class=" p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"><h2 class="text-sm tracking-widest title-font mb-1 font-medium text-gray-500">Contactless Menu</h2><h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"><span>Free</span><span class="text-lg ml-1 font-normal text-gray-500"></span></h1><p class="flex items-center text-gray-600 mb-2"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>A digital menu with limited capabilities</p><p class="flex items-center text-gray-600 mb-2"><span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg></span>Unlimited item storage</p>
    <button class="mx-auto lg:mx-0 cursor-not-allowed hover:underline text-white bg-indigo-700 text-center font-extrabold rounded my-2 md:my-6 py-4 px-8 shadow-lg w-full"> Comming Soon</button><p class="text-xs text-gray-500 mt-3"></p>
    </div></div>
    <div class=" p-4 xl:w-1/12 md:w-1/2 w-full">
    <div class=" p-6 rounded-lg border-2 border-white flex flex-col relative overflow-hidden hidden md:block "><h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2><h1 class="text-5xl text-white leading-none flex items-center pb-4 mb-4 border-b border-white"><span></span><span class="text-lg ml-1 font-normal text-gray-500"></span></h1><p class="flex items-center text-gray-600 mb-2"></div></div></div></div>
    </section>

    



    <!--Footer-->
    <footer class="bg-white ">
      <div class="container mx-auto mt-8 px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1 mb-6">
            <a
              class="text-gray-400 no-underline hover:no-underline font-light text-1xl lg:text-1xl"
              href="#"
            >
                Copyright &copy; Menuio 2020
            </a>
          </div>

           <!-- <div class="flex-1">
            <p class="uppercase font-extrabold text-gray-500 md:mb-6">Links</p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="/FAQ"
                  class="font-light no-underline text-gray-600 hover:text-indigo-800"
                  >FAQ</a
                >
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline  text-gray-600 hover:text-indigo-800"
                  >Help</a
                >
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline  text-gray-600 hover:text-indigo-800"
                  >Support</a
                >
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase font-extrabold text-gray-500 md:mb-6">Legal</p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline text-gray-600 hover:text-indigo-800"
                  >Terms</a
                >
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline  text-gray-600 hover:text-indigo-800"
                  >Privacy</a
                >
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase font-extrabold text-gray-500 md:mb-6">
              Company
            </p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline  text-gray-600 hover:text-indigo-800"
                  >Official Blog</a
                >
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline  text-gray-600 hover:text-indigo-800"
                  >About Us</a
                >
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <a
                  href="#"
                  class="font-light no-underline text-gray-600 hover:text-indigo-800"
                  >Contact</a
                >
              </li>  
            </ul> 
          </div>-->
        </div>
      </div>
    </footer>

    <script>
      /*Toggle dropdown list*/
      /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      document.onclick = check;
      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            if (navMenuDiv.classList.contains("hidden")) {
              navMenuDiv.classList.remove("hidden");
            } else {
              navMenuDiv.classList.add("hidden");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv.classList.add("hidden");
          }
        }
      }
      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }
    </script>
  </body>
</html>