  <% if request.fullpath.include?('admin') %>
  
     <tr class="border-b hover:bg-orange-100 bg-gray-100">
          <td class="p-3 px-5"><%= category.category %></td>
        <td class="p-3 px-5"><%= category.Type %></td>
         <td class="p-3 px-5"><%= category.description %></td>
         <td class="p-3 px-5", id="button"><%= link_to 'Edit', edit_category_path(category) %></td>
     </tr>

<% else %>

    <div class="tab w-full overflow-hidden border-t">
       <input class="absolute opacity-0 " id="tab-multi-<%= category.category %>" type="checkbox" name="tabs">
       <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-<%= category.category%>"> <%= category.category%> </label>

        <%= render(category.products) %>

    </div>

<% end %>