  <% if request.fullpath.include?('admin') %>
                            <tr class="border-b hover:bg-orange-100 bg-gray-100">
                                <td class="p-3 px-5"><%= product.title %></td>
                                <td class="p-3 px-5"><%= sanitize(product.description) %></td>
                                <td class="p-3 px-5"> £ <%= (product.price) %></td>
                                <td class="p-3 px-5"><%= product.category_id %></td>
                                <% if (product.available) #= 't' %>
                                <td class="p-3 px-5"> <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold">active</span> </td>
                                <% else %>
                                 <td class="p-3 px-5"> <span class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold">inactive</span> </td>
                                <% end %>
                                <td><%= link_to 'Mark Available', available_product_path(product.id), method: :patch, data: { confirm: 'Are you sure? | Item will update when you refresh the page.', remote: true}, class: "available rounded py-1 px-3 text-xs font-bold"%></td>
                                <td class="p-3 px-5"><td><%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?', remote: true}, class: "delete rounded bg-red-400 py-1 px-3 text-xs font-bold" %></td>
                            </tr>
<% else %>

<div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                 <ul class="flex flex-col p-2 ">
                    <li class="border-gray-400 flex flex-row mb-2">
                      <div class="lg:w-1/4 lg:mr-8 w-full select-none cursor-pointer bg-gray-100 rounded-lg flex flex-1 items-center p-4  transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                        <div class="flex-1 pl-1 mr-16">
                          <div class="font-semibold"><%= product.title %></div>
                          
                          <div class="text-gray-600 font-medium text-sm maxlength="10><%= product.description %></div>
                        </div>
                            <div class="flex-2 pl-1 mr-0">
                          <div class="font-semibold"> <%= number_to_currenct(product.price) %> </div>
                          <%= button_to '+', line_items_path(product_id: product), class:"text-black font-medium text-sm mt-8 px-4 py-2 bg-blue rounded-full" %>
                        <div id="<%= product.id %>"></div>
                            </div>
                      </div>
            </li>
        </ul>
      </div>


<% end %>