<h1></h1>
<% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<html>
  <head>
    <title><%= @account.s_name %> | Digital Menu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

<style>
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}

.tab-content {
         max-height: 0;
         -webkit-transition: max-height .35s;
         -o-transition: max-height .35s;
         transition: max-height .35s;
         }
         /* :checked - resize to full height */
         .tab input:checked ~ .tab-content {
         max-height: 100vh;
         }
         /* Label formatting when open */
         .tab input:checked + label{
         /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
         font-size: 1.25rem; /*.text-xl*/
         padding: 1.25rem; /*.p-5*/
         border-left-width: 2px; /*.border-l-2*/
         border-color: #6574cd; /*.border-indigo*/
         background-color: #f8fafc; /*.bg-gray-100 */
         color: #6574cd; /*.text-indigo*/
         }
         /* Icon */
         .tab label::after {
         float:right;
         right: 0;
         top: 0;
         display: block;
         width: 1.5em;
         height: 1.5em;
         line-height: 1.5;
         font-size: 1.25rem;
         text-align: center;
         -webkit-transition: all .35s;
         -o-transition: all .35s;
         transition: all .35s;
         }
         /* Icon formatting - closed */
         .tab input[type=checkbox] + label::after {
         content: "▼";
         font-weight:bold; /*.font-bold*/
         border-width: 1px; /*.border*/
         border-radius: 9999px; /*.rounded-full */
         border-color: #b8c2cc; /*.border-grey*/
         }
         .tab input[type=radio] + label::after {
         content: "\25BE";
         font-weight:bold; /*.font-bold*/
         border-width: 1px; /*.border*/
         border-radius: 9999px; /*.rounded-full */
         border-color: #b8c2cc; /*.border-grey*/
         }
         /* Icon formatting - open */
         .tab input[type=checkbox]:checked + label::after {
         background-color: #6574cd; /*.bg-indigo*/
         color: #f8fafc; /*.text-grey-lightest*/
         }
         
         .tab input[type=radio]:checked + label::after {
         transform: rotateX(180deg);
         background-color: #6574cd; /*.bg-indigo*/
         color: #f8fafc; /*.text-grey-lightest*/
         }

</style>

 <body class="text-black bg-gray-100">

  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 py-4 mx-auto font-sans font-medium text-center text-white"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 py-4 mx-auto font-sans font-medium text-center text-white"><%= message %></div>
      </div>
    <% end %>
  <% end %>

 <div class="bg-white w-full shadow-lg z-10 pb-4">
  <h1 class="mb-0 text-2xl text-black font-light text-center pt-4">  <%= @account.s_name %> </h1> 
</div>
</div>
<div class="scrollmenu sticky shadow bg-white top-0 z-10 p-4 item-center flex">
  <% if request.fullpath.include?('Drink') %>
  <a href="?Drink" class="bg-transparent hover:bg-blue text-black font-semibold text-black py-2 px-4 border border-black rounded mr-2 flex-1"> Drinks Menu </a>
  <% else %>
 <a href="?Drink" class="bg-transparent hover:bg-blue text-gray-400 font-semibold hover:text-black py-2 px-4 border hover:border-transparent rounded mr-2 flex-1"> Drinks Menu </a>
  <% end %>

<% if request.fullpath.include?('Food') %>
  <a href="?Food" class="bg-transparent hover:bg-blue text-black font-semibold text-black py-2 px-4 border border-black rounded mr-2 flex-1"> Food Menu </a>
  <% else %>
 <a href="?Food" class="bg-transparent hover:bg-blue text-gray-400 font-semibold hover:text-black py-2 px-4 border active:bg-blue-700 hover:border-transparent rounded mr-2 flex-1"> Food Menu </a>
  <% end %>


</div>

 <body class="font-sans container">
      <div class="w-full md:w-3/5 mx-auto p-8">
      <% if request.fullpath.include?('Food') %>
         <p> <strong>Food Menu</strong></p>
      <% else %>
        <% if request.fullpath.include?('Drink') %>
        <p> <strong>Drink Menu</strong></p>
        <% else %>
         <p> <strong>Menu</strong></p>
         <% end %>
      <% end %>
      
         <div class="shadow-md">
                 <%= render @categories %>
         </div>
      </div>
   </body>
</div>

<% if @cart %>
<footer class='fixed bottom-0 w-full '>
<div class="dropup w-full  bg-indigo-700 items-center text-indigo-100 leading-none rounded flex lg:inline-flex h-10">
  <button class="w-full dropbtn "> Order | <%= sprintf("£%0.02f", @cart.total_price ) %></button>
  <div class="dropup-content">
    <div id="cart" class="carts fixed bottom-0 w-full">
        <%= render_if @cart && @cart.line_items.any?, @cart %>
      </div>
  </div>
</div>
</footer>
<% end %>
</div>

<div id="cart" class="carts">