<h1></h1>
<% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<html>
  <head>
    <title><%= @account.s_name %> | Digital Menu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

<style>
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}

.tab-content {
         max-height: 0;
         -webkit-transition: max-height .35s;
         -o-transition: max-height .35s;
         transition: max-height .35s;
         }
         /* :checked - resize to full height */
         .tab input:checked ~ .tab-content {
         max-height: 100vh;
         }
         /* Label formatting when open */
         .tab input:checked + label{
         /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
         font-size: 1.25rem; /*.text-xl*/
         padding: 1.25rem; /*.p-5*/
         border-left-width: 2px; /*.border-l-2*/
         border-color: #6574cd; /*.border-indigo*/
         background-color: #f8fafc; /*.bg-gray-100 */
         color: #6574cd; /*.text-indigo*/
         }
         /* Icon */
         .tab label::after {
         float:right;
         right: 0;
         top: 0;
         display: block;
         width: 1.5em;
         height: 1.5em;
         line-height: 1.5;
         font-size: 1.25rem;
         text-align: center;
         -webkit-transition: all .35s;
         -o-transition: all .35s;
         transition: all .35s;
         }
         /* Icon formatting - closed */
         .tab input[type=checkbox] + label::after {
         content: "▼";
         font-weight:bold; /*.font-bold*/
         border-width: 1px; /*.border*/
         border-radius: 9999px; /*.rounded-full */
         border-color: #b8c2cc; /*.border-grey*/
         }
         .tab input[type=radio] + label::after {
         content: "\25BE";
         font-weight:bold; /*.font-bold*/
         border-width: 1px; /*.border*/
         border-radius: 9999px; /*.rounded-full */
         border-color: #b8c2cc; /*.border-grey*/
         }
         /* Icon formatting - open */
         .tab input[type=checkbox]:checked + label::after {
         background-color: #6574cd; /*.bg-indigo*/
         color: #f8fafc; /*.text-grey-lightest*/
         }
         
         .tab input[type=radio]:checked + label::after {
         transform: rotateX(180deg);
         background-color: #6574cd; /*.bg-indigo*/
         color: #f8fafc; /*.text-grey-lightest*/
         }
</style>

 <body class="text-black bg-gray-100">

  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 py-4 mx-auto font-sans font-medium text-center text-white"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 py-4 mx-auto font-sans font-medium text-center text-white"><%= message %></div>
      </div>
    <% end %>
  <% end %>

 <div class="bg-white w-full shadow-lg z-10 pb-4">
  <h1 class="mb-0 text-2xl text-black font-light text-center pt-4">  <%= @account.s_name %> </h1> 
</div>
</div>

<div class="scrollmenu sticky shadow bg-white top-0 z-10 p-4 item-center flex">
<a href="#food" class="bg-transparent hover:bg-blue text-gray-400 font-semibold hover:text-black py-2 px-4 border hover:border-transparent rounded mr-2 flex-1"> Food Menu</a>
  	<a href="#drink" class="bg-transparent hover:bg-blue text-gray-400 font-semibold hover:text-black py-2 px-4 border hover:border-transparent rounded mr-2 flex-1"> Drink Menu </a>
</div>


 <body class="font-sans container">
      <div class="w-full md:w-3/5 mx-auto p-8">
         <p> <strong>Drink</strong></p>
         <div class="shadow-md">
          <% cache @categories do %>
            <% @categories.where(user_id: @account.id).each do |category| %>
              <% cache category do %>
            <div class="tab w-full overflow-hidden border-t">
               <input class="absolute opacity-0 " id="tab-multi-<%= category.category%>" type="checkbox" name="tabs">
               <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-<%= category.category%>"> <%= category.category%> </label>
                <% cache @products do %>
                <% @products.where(user_id: @account.id, category: category, available: 't').each do |product| %>
                <% cache product do %>
               <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                 <ul class="flex flex-col p-2 ">
                    <li class="border-gray-400 flex flex-row mb-2">
                      <div class="lg:w-1/4 lg:mr-8 w-full select-none cursor-pointer bg-gray-100 rounded-lg flex flex-1 items-center p-4  transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                        <div class="flex-1 pl-1 mr-16">
                          <div class="font-semibold"><%= product.title %></div>
                          
                          <div class="text-gray-600 font-medium text-sm maxlength="10>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                            <div class="flex-2 pl-1 mr-0">
                          <div class="font-semibold"><%= product.price %></div>
                          <%= button_to '+', line_items_path(product_id: product), class:"text-black font-medium text-sm mt-8 px-4 py-2 bg-blue rounded-full" %>
                        <div id="<%= product.id %>"></div>
                            </div>
                      </div>
                    </li>
                  </ul>
                  </div>
                  
                <% end %>
                <% end %>
                <% end %>


            </div>
                <% end %>
              <% end %>
            <% end %>
         </div>
      </div>
   </body>


<% if @cart %>
<footer class='fixed bottom-0 w-full '>
<div class="dropup w-full  bg-indigo-700 items-center text-indigo-100 leading-none rounded flex lg:inline-flex h-10">
  <button class="w-full dropbtn "> Order | £<%= @cart.total_price %> </button>
  <div class="dropup-content">
    <div id="cart" class="carts fixed bottom-0 w-full">
        <%= render_if @cart && @cart.line_items.any?, @cart %>
      </div>
  </div>
</div>
</footer>
<% end %>

</div>

<div id="cart" class="carts">
