<!DOCTYPE html>
<html>
  <head>
    <title>MENUIO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="text-black bg-gray-100">

    <header class="mb-2">
      <% if admin? %> 
      <nav class="flex flex-wrap items-center justify-between px-3 py-2 text-gray-700 lg:px-10">
        <div class="flex items-center mr-6 flex-no-shrink">

          <% if admin? %> 
              <%= link_to "MENUIO", root_path, class:"link text-lg tracking-wider font-semibold text-black hover:text-gray-700 uppercase hidden md:block" %>
           <% else %>
              <h2 class= "text-lg tracking-wider font-semibold text-black uppercase hidden md:block "> "MENUIO" </h2>
          <% end %>


        </div>

        <div class="p-10">

          <div class="dropdown inline-block relative block lg:hidden">
          <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 409.6 409.6" style="enable-background:new 0 0 409.6 409.6;" xml:space="preserve">
<g>
	<g>
		<path d="M392.533,17.067H17.067C7.641,17.067,0,24.708,0,34.133S7.641,51.2,17.067,51.2h375.467
			c9.426,0,17.067-7.641,17.067-17.067S401.959,17.067,392.533,17.067z"/>
	</g>
</g>
<g>
	<g>
		<path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467
			c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z"/>
	</g>
</g>
<g>
	<g>
		<path d="M392.533,358.4H17.067C7.641,358.4,0,366.041,0,375.467s7.641,17.067,17.067,17.067h375.467
			c9.426,0,17.067-7.641,17.067-17.067S401.959,358.4,392.533,358.4z"/>
	</g> </svg>

            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
          </button>
          <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 ">
            <% if user_signed_in? %>
                <% if admin? %> 
            <li class=""><%= link_to "Dashboard", admin_index_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %></li>
            <li class=""><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block" %></li>
                 <% else %>
            <li class=""><%= link_to "Account", edit_user_registration_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0" %></li>
            <li class=""><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block" %></li>
               <% end %>
            <% else %>
              <li class=""><%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %></li>
              <li class=""><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %></li>
            <% end %>
          </ul>
          </div>

        </div>
        <div class="items-center block w-full text-center lg:flex-1 lg:flex lg:text-left hidden md:block">
          <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left lg:justify-end sm:hidden">
            <% if user_signed_in? %>
              <% if admin? %> 
                <%= link_to "Dashboard", admin_index_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block" %>
              <% else %>
                <%= link_to "Account", edit_user_registration_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block" %>
               <% end %>
            <% else %>

              <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
              <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
            <% end %>
      
          </div>
        </div>

      </nav>
      <% end %>
    </header>
    

    <main class="px-4 lg:px-10">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

  </body>


</html>
